.main {
  background-color: "#ededec";
  display: flex;
  flex-direction: column;
  margin: 0;
  top: 0;
  padding: 0;
}

.darkmode {
  background-color: "black";
  display: flex;
  flex-direction: row;
}

.container {
  background-color: #ededec;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 30px;
  width: 100%;
}

.identification {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profil {
  margin-top: 50px;
  width: 50%;
  border-radius: 50%;
  border: 3px double #f2b129;
}

.body {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 30px;
  text-align: left;
  width: 100%;
  line-height: 1;
}

.status {
  color: #f2b129;
  line-height: 1;
  font-size: 45px;
}

.moon {
  display: flex;
  justify-content: right;
  width: 90%;
}

.moon p {
  font-size: 25px;
}

.moon:hover {
  cursor: pointer;
}

.nextpart {
  overflow-y: scroll;
  background-color: #ededec;
  height: 100vh;
  width: 60%;
  padding-top: 100px;
  padding-right: 10px;
}

.tools {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 200ms;
}

.tools:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.icons {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons p {
  color: white;
}

/* Responsive */

@media screen and (max-width: 1230px) {
  .profil {
    margin-left: 50px;
    width: 60%;
  }

  .allstatus {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .status {
    font-size: 35px;
  }
}

@media screen and (max-width: 1230px) {
  .profil {
    width: 70%;
  }
}

@media screen and (max-width: 740px) {
  .profil {
    margin-left: 20px;
    width: 80%;
  }
}

@media screen and (max-width: 730px) {
  .status {
    font-size: 25px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    overflow-y: scroll;
  }

  .status {
    font-size: 37px;
  }

  .identification {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video{
    background-position: center;
  }
}
