.slider{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagesSlider{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infos{
    margin-left: 100px;
}

.imagetitle{
    font-size: 45px;
    color: white;
    text-decoration: underline;
}

.imagedescription{
    color: white
}

.imagedescription a {
    text-decoration: none;
}

.buttons{
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}


.imgsliderbtn{
    all: unset;
    color: #25acc7;;
}

.imgsliderbtn:hover{
    cursor: pointer;
}

/* Responsive */

@media screen and (max-width:1700px){
    .imagesSlider{
        margin-top: 30px;
        width: 55%;
      }
}

@media screen and (max-width:1170px){
    .imagesSlider{
        margin-top: 30px;
        width: 60%;
      }
}

@media screen and (max-width:990px){
    .imagesSlider{
        margin-top: 30px;
        width: 65%;
      }
}

@media screen and (max-width:890px){
    .imagesSlider{
        margin-top: 30px;
        width: 70%;
      }
}

@media screen and (max-width:835px){
    .imagesSlider{
        margin-top: 30px;
        width: 75%;
      }
}

@media screen and (max-width:805px){
    .imagesSlider{
        margin-top: 30px;
        width: 80%;
      }
}

@media screen and (max-width:430px){
  .imagesSlider{
    margin-top: 20px;
    width: 50%;
    flex-direction: column;
  }
  .infos{
    margin-top: 30px;
    margin-left: 0;
  }
}

@media screen and (max-width:375px){
    .imagesSlider{
        margin-top: 70px;
    }
}

@media screen and (max-width:280px){
    .imagesSlider{
        width: 70%;
        margin-top: 70px;
    }
  }