.main {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(-180deg, #1a2755 30%, #1d94ae);
}

.aboutme {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.video {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
}

.videoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25%;
  border-radius: 53px;
  overflow: hidden;
}

.iphone {
  z-index: 3;
}

.player {
  width: 91%;
  position: absolute;
  top: 5;
}

.title {
  font-size: 50px;
  color: white;
}

.italic {
  font-style: italic;
}


.ecnadescription {
  margin-left: 15%;
  width: 55%;
}

.ecnaDetail{
  color: white;
  font-style: italic;
  margin-top: 10px;
  font-size: 18px;
}

.inProgress{
  font-style: italic;
  color: white;
}

.otherProjects {
  display: flex;
  flex-direction: column;
  padding: 100px;
  width: 100%;
  background-color: #e6585b;
  background: linear-gradient(180deg, transparent, #e6595c 55%);
}

.projectsFirstPart{
  display: flex;
  align-items: center;
  width: 100%;
}

.boxProjects{
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}

.firstPartDecrisption{
  color: white;
  font-style: italic;
  width: 65%;
  font-size:16px
}

.lacapsule{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 50%;
}

/*MEDIA-QUERIES*/

@media screen and (max-width: 1450px) {
  .videoBox {
    border-radius: 53px;
  }
}

@media screen and (max-width: 1430px) {
  .videoBox {
    border-radius: 50px;
  }
}

@media screen and (max-width: 1300px) {
  .videoBox {
    width: 25%;
    border-radius: 45px;
  }
}

@media screen and (max-width: 1175px) {
  .videoBox {
    width: 23%;
    border-radius: 35px;
  }
}

@media screen and (max-width: 980px) {
  .videoBox {
    width: 25%;
    border-radius: 33px;
  }
}

@media screen and (max-width: 900px) {
  .title{
    font-size: 35px;
  }
  .ecnaDetail{
    font-size: 14px;
  }
}

@media screen and (max-width: 850px) {
  .videoBox {
    width: 30%;
    border-radius: 30px;
  }
}

@media screen and (max-width: 800px) {
  .boxProjects {
    flex-direction: column;
  }

  .firstPartDecrisption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .title{
    font-size: 25px;
  }
  .videoBox {
    width: 45%;
    border-radius: 30px;
  }
}

@media screen and (max-width: 620px) {
  .videoBox {
    width: 60%;
    border-radius: 35px;
  }
  .ecnaDetail{
    font-size: 13px;
  }
  .inProgress{
    font-size: 11px;
  }
}

