.main {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
}

.icons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.icons2{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  overflow-y: hidden;
  padding: 5px;
  align-self: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
}

.icons3{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;

}

.description3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: white;
  width: 90%;
  height: 95%;
  transition: 600ms;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  padding: 40px;
}


.description3:hover {
  opacity: 0.9;
}

.description3 h1 {
  margin-bottom: 20px;
}

.description3 p {
  color: white;
  text-align: center;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: white;
  top: 0;
  height: 100%;
  transition: 600ms;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  padding: 20px;
}

.description:hover {
  opacity: 0.9;
}

.description h1 {
  margin-bottom: 20px;
}

.description p {
  color: white;
  text-align: center;
}

.link{
  margin-top: 10px
}
.link a{
  margin-top: 10px;
  text-decoration: none;
  color: white;
}

.link p:hover{
  transition: 300ms;
  color:#f2b129;
  cursor: pointer;
  transform: scale(1.1)
}

.allimg {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

/*MEDIA QUERIES & RESPONSIVE*/
@media screen and (max-width: 1275px) {
  .description3 p {
    font-size: 13px;
  }
}

@media screen and (max-width: 1185px) {
  .description3 p {
    font-size: 12px;
  }
}

@media screen and (max-width: 1160px) {
  .description3{
    padding: 25px;
  }

  .description p {
    font-size: 12px;
  }
}

@media screen and (max-width: 1030px) {
  .description3{
    padding: 20px;
  }
}

@media screen and (max-width: 1030px) {
  .description3, .description{
    padding: 15px;
  }

  .description h1, .description3 h1{
    font-size: 20px;
    margin-bottom: 5px;
  }

  .description p{
    font-size: 12px;
  }
}


@media screen and (max-width: 850px) {
  .allimg {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }
  .icons,.icons2{
    width: 100%;
  }

  .icons3{
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .description3, .description{
    padding: 20px;
  }

  .description h1, .description3 h1{
    font-size: 25px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 430px) {
  .main {
    width: 100%;
  }
  .title {
    top: 30px;
  }
}